@import 'variable';
.btn-ghost {
    background-color: $main-color;
    font-size: 12 px;
    color: white;
    padding: 10px 15px;
    margin-left: 3px;
  }
  
  // .bookings-inner-container {
  //   p {
  //     font-size: 14px;
  //     margin-bottom: 0px;
  //   }
  // }
  